/* Estilos para el contenedor del formulario de login */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-content {
    margin-bottom: 20px;
}

.login-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.input-group label {
    width: 120px;
    text-align: right;
    margin-right: 10px;
    color: #555;
}

.input-group input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para los enlaces de redes sociales */
.social-links {
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #007bff; /* Color base para los iconos */
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #0056b3; /* Color al pasar el mouse */
}
